# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# Virtual environment
.venv/

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Spark
spark-warehouse/

# Streamlit
.streamlit/secrets.toml